.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logement {
  padding: 0;
  width: 70%;
}

.image-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

  .property-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .image-navigation {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
  }

  .image-navigation-left {
    left: 0;
  }

  .image-navigation-right {
    right: 0;
  }

  .image-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

.property-infos {
  display: flex;

  .property-description {
    color: #ff6060;
    text-align: left;

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      li {
        background-color: #ff6060;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
      }
    }
  }

  .user-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user {
      display: flex;
      align-items: center;

      .user-picture {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0;
        margin-left: 1rem;
      }

      p {
        text-align: right;
      }
    }

    .rating {
      text-align: right;
      width: 10rem;

      .filled-star {
        color: #ff6060;
      }

      .empty-star {
        color: #e0e0e0;
      }
    }
  }
}

.property-band {
  display: flex;
  justify-content: space-around;
  margin: 1rem;

  .accordion-container {
    min-width: 40%;
    margin: 0;
  }
}


@media only screen and (max-width: 1112px) {
  .logement {
    padding: 0 1rem;
  }

  .property-infos {
    padding: 1rem;
    flex-direction: column;
    align-items: center;

    .property-description {
      order: 1;
    }

    .user-rating-container {
      order: 2;
      width: 100%;
      margin: 0;
    }

    .user-rating-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .user {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      .user-picture {
        width: 4rem;
        height: 4rem;
        margin-right: 0.5rem;
      }
    }

    .rating {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      
    }
  }

  .image-container {
    max-width: 50rem;

    .property-image {
      height: 20rem;
    }

    .image-navigation {
      font-size: 1.5rem;
    }

    .image-counter {
      font-size: 1.5rem;
    }
  }

  .property-band {
    flex-direction: column;
    align-items: center;
    font-size: small;

    .accordion-container {
      min-width: 100%;
      margin-bottom: 0rem;
      padding: 0rem;
    }
  }

  .property-description {
    ul {
      gap: 0.5rem;

      li {
        padding: 5px 10px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .logement {
    padding: 0;
  }
  
  .image-container .property-image {
    height: 10rem;
  }
  
  .property-infos {
    padding: 0;
  }
  
  .property-description {
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 12px;
    }
    ul {
      li {
        font-size: 12px;
      }
    } 
  }
}

.user-rating-container {

  .user {
    height: 6rem;
    margin: 0;

    .user-picture {
      width: 3rem!important;
      height: 3rem!important;
    }
    .user-name {
      font-size: 13px;
    }
  }

  .rating {

    .filled-star {
      font-size: 1rem;
    }

    .empty-star {
    }
  }
}